* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(253, 218, 120);
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
.wrapper {
  width: 25rem;
  max-width: 60%;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  overflow: hidden;
}
.header {
  padding: 1.8rem 2rem;
  background-color: rgb(31, 12, 3);
  color: #fff;
}
.title {
  margin: 0;
  font-size: 1.3rem;
}
.subtitle {
  display: inline-block;
  margin-bottom: 1.4rem;
  opacity: 0.8;
  font-size: 1rem;
}
.header input {
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 2rem;
  width: 100%;
  background-color: rgb(253, 218, 120);
  color: black;
  font-size: 0.9rem;
}
.header input:focus {
  outline: none;
}
.user-result {
  background-color: white;
  margin: 0;
  height: 350px;
}
li {
  display: flex;
  padding: 25px;
}
.user-result img {
  object-fit: cover;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.user-info {
  margin-left: 15px;
}
.user-info p {
  font-size: 0.8rem;
}
.user-result li.hide {
  display: none;
}
